
body {
  margin: 0;
  padding: 0;
  transition: 3s ease-in-out;
}

.social-icons {margin: 10px 20px;}


.my-byline {
  font-size:14pt;
}



#footer-left-min, #footer-right-min {
  display: none;
  position: relative;
}
#footer-right-min {
  right: 20px;
}

#footer-left-min {
  left: 20px;
}


/*Medium- phones and tablets*/
@media screen and (max-width:770px) {


  .dark-mode-wrapper {
    clear: both;
  }
  .social-icons {
      margin: 0 auto;
      width: 230px;
      float: none;
      clear: both;
      margin-top: 15px;
  }
  .footer-middle-row {
      margin: 0 auto;
  }

  #footer-left, #footer-right {
    display: none;
  }
  #footer-left-min, #footer-right-min {
    display: inline-block;
  }
}

.dark-mode {
  background: #1f1f20;
  color: white;
  transition: 3s ease-in-out;
}

.dark-mode a, .dark-mode p, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode ul {
  color: white;
  transition: 3s ease-in-out;
}

.img-invert {
  transition: 3s;
  filter:invert(0%);
}

.dark-mode .img-invert {
  filter: invert(87.8%);
  transition: 3s;
}
-
.dark-mode .img-invert-full {
  filter: invert(100%);
  transition: 3s;
}

.dark-mode .navbar {background: rgba(88, 88, 88, 0.57);}

    .dark-mode .navbar li a:hover, .dark-mode .navbar li a{color: white;}
    .dark-mode .navbar li a#active {
      color: white;
      border-bottom:3px solid white;}

    .dark-mode nav hr {
      color: white;
      border-bottom: 1px solid #313131;}



/*Dark mode switch*/

.dark-mode-switch-text {
  color: rgb(185, 185, 185);
  font-weight: 300;
  width: 100px;
  float: left;
  font-size:13pt;
  font-family: 'Lato', sans-serif;
  padding: 2px 5px 2px 10px;
}
#dark-mode-switch-text {
  color: rgb(34, 34, 34);
  font-weight: 300;
  width: 100px;
  float: left;
  font-size:13pt;
  font-family: 'Lato', sans-serif;
  padding: 2px 5px 2px 10px;
}
.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
  top: 5px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #fff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #1e2228;
  bottom: 1px;
  content: "";
  height: 21px;
  left: 1px;
  position: absolute;
  transition: .4s;
  width: 21px;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

input:checked + .slider.round:before {
  background: white;
}

.slider.round {
  border-radius: 34px;
  border:1px solid transparent;
}

.dark-mode .slider.round {
  border:1px solid grey;
}

.slider.round:before {
  border-radius: 50%;
  z-index: 99;
}

#darkModeOn, #darkModeOff {
  visibility: hidden;
  min-width: 250px;
  margin-left: -205px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 30px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  border: 1px solid grey;
  font-weight: 300;
}

/*Dark Mode User Confirmation Snackbar */

#darkModeOn {
  background-color: #333;
  color: #fff;
  padding:8px 8px 16px 8px;
}

#darkModeOn.show {
  visibility: visible;
  -webkit-animation: darkfadein 0.5s, darkfadeout 0.5s 3.5s;
  animation: darkfadein 0.5s, darkfadeout 0.5s 3.5s;
}

#darkModeOff {
  background-color: white;
  color: black;
}

#darkModeOff.show {
  visibility: visible;
  -webkit-animation: darkfadein 0.5s, darkfadeout 0.5s 3.5s;
  animation: darkfadein 0.5s, darkfadeout 0.5s 3.5s;
}

#moonIcon {
  height: 13px;
position: relative;
z-index: 9;
right: 47px;
bottom: 2px;
}

#moonIconSnackbar {
  height: 25px;
  position: relative;
  z-index: 99;
  margin:0;
  padding: 0;
  margin-right: 5px;
  top: 2px;
}

@-webkit-keyframes darkfadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes darkfadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes darkfadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes darkfadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


/*Heart Animation */
svg {
width: 50px;
display: block;
position: relative;
}

.anim{
display: inline;
fill:#de2144;
stroke:#de2144;
stroke-dasharray: 2000;
stroke-dashoffset: 0;
stroke-width: 1;
-webkit-animation: heart 9s ease-in-out 0s infinite;
animation: heart 9s ease-in-out 0s infinite;
}

@-webkit-keyframes heart {
  0% {
    stroke-dashoffset: 0;
    fill:#de2144;
  }

  35% {
    stroke-dashoffset: 2000;
  }

  50% {
    fill:rgba(222, 33, 68, 0.1);
}

/* Filling stroke heart */

60% {stroke-dashoffset: 2000;}

100% {
    stroke-dashoffset: 0;
  fill:#de2144;
    
  }
}

.footer-top-row {
  padding-top:20px;
}

.footer-middle-row {
  padding: 25px 0;
}

#footer-left, #footer-right {
  position: relative;
  bottom:12px;
}
#footer-left {left: 31px;}
#footer-right {right: 27px;}

.heart {
  width: 100px;
  background: url("../IMG/footer/heart5.png") no-repeat;
  background-position: 18px 0;
  cursor: pointer;
  transition: background-position 1s steps(56);
  transition-duration: 0s;
}
.anim.is-active, .heart.is-active {
  transition-duration: 2s;
  background-position: -3718.5px 0;
}

.placement {
  display: inline-block;
  position: relative;
  -webkit-clip-path: circle(40% at 50% 50%);
      clip-path: circle(40% at 50% 50%);
}

@media screen and (max-width: 500px) {
  #darkModeOn, #darkModeOff {
    width: 90%;
    left: 3%;
    right: 5%;
    padding: 15px 5px;
    margin: 0;
  }
}