/* The Overlay (background) */

#welcome-nav {
  margin: 0 auto;
}

.overlayBG {
  background: url(../IMG/nd-logo-v2c.png);
  background-size: contain;
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* margin-left: -35%; */
  background-repeat: no-repeat;
  background-position: center top;
}

.dark-mode .overlayBG {
  background: url(../IMG/nd-logo-v2c-invert.png);
  background-repeat: no-repeat;
  opacity: 0.3;
  background-size: contain;
  background-position: center;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 99999;
  left: 0;
  top: 0;
  background: #e9e9e9;
  overflow: hidden; 
  transition: 0.5s;
}

.dark-mode .overlay {
  background: black;
}

#overlay-nav ul {
  padding: 0 0 20px 20px;
  display: table;
}

#overlay-nav li {
  float: left;
  clear: both;
  list-style-type: none;
  height: 40px;
}

#overlay-nav .home-link {
  color: black;
  float:left;
  clear: both;
  position: relative;
  left: 52px;
  z-index: 9;
}

.dark-mode #overlay-nav .home-link {
  color: white;
}

#overlay-nav h3 {
  color: grey;
  padding:0;
  margin: 0;
  position: relative;
  left: 5px;
  z-index: 9;
}
.overlayProject.home-link {
  background-image: linear-gradient(to bottom, transparent 65%, #69D2E7 10%);
border-bottom: 4px solid #69D2E7;
font-size: 22px;
}

p.overlay-copyright {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  color:rgb(76, 76, 76);
  font-family:'Lato',sans-serif;
  bottom: 0;
}

.dark-mode p.overlay-copyright {
  color:#ddd;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  margin-top: 5%;

}

/* The navigation links inside the overlay */
.overlay a {
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 60px;
  color: #777;
  transition: 0.5s;
  z-index: 99999;
}

.closebtn:hover {
  color: white;
  transition: 0.5s;
}

.dark-mode .overlay .closebtn {
  color: white;
  transition: 0.5s;
}

.dark-mode .closebtn:hover {
  color: #ef6462;
  transition: 0.5s;
}

#menu-icon {
  top: 0;
  bottom: initial;
  z-index: 9;
}

#menu-icon:hover {
  background:#ddd;
}

.dark-mode #menu-icon:hover {
  background:rgba(50, 50, 50, 0.9);
}

@media screen and (max-width:600px) {

  #menu-icon {
    width: 50px;
    left:0;
  }

  p.overlay-copyright 
  {
    left:0;
    margin-left: 7%;
    font-size:14px;
  }
  .overlayBG {
    background-position: right top;
    background-size: 80% 80%;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}