
/*		Swiper Styles*/
				.swiper-container {
			      width: 100%;
			      height: 100%;
			    }
			    .swiper-slide {
			      text-align: center;
			      font-size: 18px;
			      background: #fff;
			      /* Center slide text vertically */
			      display: -webkit-box;
			      display: -ms-flexbox;
			      display: -webkit-flex;
			      display: flex;
			      -webkit-box-pack: center;
			      -ms-flex-pack: center;
			      -webkit-justify-content: center;
			      justify-content: center;
			      -webkit-box-align: center;
			      -ms-flex-align: center;
			      -webkit-align-items: center;
			      align-items: center;
				}

				.slide-caption {
					position: absolute;
					top: 20%;
					left: 50%;
					width: 300px;
					background: rgba(0, 0, 0, 0.32);
				}

				.slide-caption p, .slide-caption p a {
					color: white;
					font-size: 16pt;
					line-height: 1.4;
					text-align:left;
				}

				.haiti-girl {
					left:10%;
					width: 420px;
					background: rgba(47, 47, 47, 0.72);
				}

				.refugees {
					top:initial;
					left:5%;
					bottom: 5%;
					width: 320px;
					background: rgba(47, 47, 47, 0.5)
				}

				.american-airlines {
					top: initial;
					bottom:10%;
					left:10%;
				}

				#aa-caption p {
					color: rgb(125, 125, 125);
				}

				.earth-overshoot {
/*					bottom: 5%;
*/					top: 20%;
					left: initial;
					right: 5%;
					width: 550px;
/*					height: 110px;
*/					background: rgba(72, 72, 72, 0.8);
				}

				.overshoot-caption p {
					color: rgb(125, 125, 125);
				}

				.plastic {
					left: 35%;
					top: 41%;
					width: 320px;
				}

				.plastic p {
					top:5%;
					background: rgba(65, 66, 65, 0.81);
				}

				.ucd {
					right: 3%;
					top: 30%;
					left: initial;
					background: none;
					width: 320px;
				}

				.drafting {
					bottom: 5%;
					width: 800px;
					top:initial;
					left: initial;
					background: rgba(66, 66, 66, 0.72);
				}

				.arcologies {
					left: initial;
					top: initial;
					bottom: 0;
					width: 100%;
					background: rgba(66, 66, 66, 0.85);

				}

				.paradigm-shift {
					background: none;
					width: 700px;
					top: initial;
					left: initial;
					color:white;
				}

				.eBikes {
					left: initial;
					top: 40%;
					width: 400px;
					background: rgba(89, 89, 89, 0.85);
				}

				.what-to-do {
					background: none;
					left: initial;
				    top: initial;
				    padding-bottom: 30px;
				}

				.what-to-do h3 {
					background:none;
					color: white;
					font-size: 24pt;
				}

				.transit {
					left:20%;
					top:20%;
				}

				.share {
					left:40%;
					top:45%;
					width: 200px;
				}

				.dinner {
					top: 3%;
					left: 25%;
					width: 300px;
				}

				.repair {
					left: 10%;
					top: 10%;
					width: 250px;
					background: rgba(88, 88, 88, 0.75);
				}

				.carbon-offsets {
					top: initial;
					left: initial;
					bottom: 0;
					width: 435px;
					background: rgba(88, 88, 88, 0.71);
				}

				.solar {
					top: 25%;
					left: 33%;
					width: 390px;
				}

				.ocean-cleanup {
					left: 65%;
					top: 65%;
					width: 225px;
				}

				.rainforest {
					top:10%;
					left: initial;
					width: 240px;
				}

		

				.earth {
					left: initial;
					top:initial;
					width: 310px;
				}

				.slide-credit {
					position: absolute;
					bottom: 0;
					right: 0;
				}

				.slide-credit p {
					color: white;
				}